html
{
 position: relative;
 min-height: 100%;
}

body
{
 margin-bottom: 60px;
 font-size: 14px;
}

#header
{
 text-align: center;
 background-color: #155a32;
 color: #fff;
}

#main
{
 margin-left: 1em;
 margin-right:1em;
}

a
{
 color: #27AE60;
}

a:hover
{
 color: #1d7442;
}

.toggle-bar
{
 background-color: #155a32;
 color: #fff;
 padding: 10px;
 cursor: pointer;
}

.toggle-bar p
{
 display: inline;
 font-weight: bold;
 margin-left: 1em;
 font-size: 1em;
}

.sub-toggle-bar
{
 background-color: #23894e;
}

.sub-toggle-bar i
{
 margin-left: 1em;
}

.project-image
{
 width: 100%;
 height: auto;
}

.project-caption
{
 color: #27AE60;
}

#my-photo
{
 width: 100%;
 height: auto;
 padding: 1em;
 margin-top: 1em;
 border-radius: 1.5em;
}

#footer
{
 text-align: center;
 position: absolute;
 bottom:0;
 width:100%;
 height: 60px;
 background-color: #155a32;
 color: #fff;
 padding-top: 5px;
}
