#header
{
 text-align: center;
 background-color: #155a32;
 color: #fff;
}

#main
{
 margin-left: 1em;
 margin-right:1em;
}

a
{
 color: #27AE60;
}

a:hover
{
 color: #1d7442;
}

.toggle-bar
{
 background-color: #155a32;
 color: #fff;
 padding: 10px;
 cursor: pointer;
}

.toggle-bar p
{
 display: inline;
 font-weight: bold;
 margin-left: 0.5em;
}

.sub-toggle-bar
{
 background-color: #23894e;
}

.project-image
{
 width: 100%;
 height: auto;
}

